<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>angela.kuznetsova.assignment2</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/webapi/*</url-pattern>
    </servlet-mapping>

    <servlet>
	   <servlet-name>Registration</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.Registration</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>Registration</servlet-name>
	   <url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>Login</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>Login</servlet-name>
	   <url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>Logout</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>Logout</servlet-name>
	   <url-pattern>/Logout</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
	   <servlet-name>Logout</servlet-name>
	   <url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>AddRoute</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.AddRoute</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>AddRoute</servlet-name>
	   <url-pattern>/admin/AddRoute</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	   <servlet-name>DeleteUser</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.DeleteUser</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>DeleteBookingAdmin</servlet-name>
	   <url-pattern>/admin/DeleteBookingAdmin</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>DeleteBookingAdmin</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.DeleteBookingAdmin</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>DeleteBookingUser</servlet-name>
	   <url-pattern>/user/DeleteBookingUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>DeleteBookingUser</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.DeleteBookingUser</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>DeleteUser</servlet-name>
	   <url-pattern>/admin/DeleteUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>AddBooking</servlet-name>
	   <servlet-class>angela.kuznetsova.assignment2.servlet.AddBooking</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>AddBooking</servlet-name>
	   <url-pattern>/user/AddBooking</url-pattern>
	</servlet-mapping>
	
	
</web-app>
